body {
   background-color: #272822;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   height: 100%;
}

.block {
   margin: 10px;
}

p {
   font-family: 'Courier New', Courier, monospace;
   color:white;
   font-size:30px;
}

h1 {
   font-family: 'Courier New', Courier, monospace;
   color: white;
   font-size:70px;
}